.container{
	max-width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}
/*瀑布流*/
.fall-box{
  width: 100%;
  margin: 0px 0px 0px 0px ;
  padding:0px;
}
.fall-box .item{
   width: 48%;
   margin-bottom: 0.1rem;
}
.fall-box .item:nth-child(1n){
   padding: 0;
}
.fall-box .item:nth-child(2n){
   padding: 0;
}
.fall-box .section-p{
	 background: white;
	 padding-top: 0.0rem;
	 padding-left:0%;
}
.fall-box .item-img{
	width:100% ;
	display: block;
}
.item .title-p{
	width:100%;
	float:left;
	color: #000;
	font-size: .4rem;
	margin-bottom: .2rem;
}
.item .name-p{
	color: #555;
	font-size: .4rem;
	width:100%;
	
	
}
.item .name-p img{
	width:0.7rem;
	height:0.7rem;
	border-radius:50%
	
}

.item .price-p{
	margin-top: .4rem;
	color: #444;
	font-size: .4rem;
	padding-bottom: .4rem;
}
.more-a{
	display: block;
	text-align: center;
	margin-top: 8%;
}
.more-a img{
	width: 8%;
}










