

/* 必要布局样式css */
.aui-flexView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: none;
}

.aui-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-bottom: 0px;
}

.aui-navBar {
    z-index: 10002;
    height: 44px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
}

.aui-navBar-item {
    height: 44px;
    min-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    color: #5C5C5C;
    position: relative;
}

.aui-navBar-item:first-child {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: -25%;
}

.aui-navBar-item:last-child {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.aui-center {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    width: 50%;
    margin-left: 25%;
}

.aui-center-title {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 0.95rem;
    color: #232326;
}



.aui-search {
    padding: 15px 15px;
    overflow: hidden;
    background: #fff;
}

.aui-search-bg {
    background: #f4f2f2;
    border-radius: 30px;
    /* padding: 8px 0; */
    width: 100%;
}

.aui-search-bg input {
    background: none;
    border: none;
    width: 85%;
    font-size: 0.95rem;
    padding: 12px 0;
}

.aui-travel {
    background: #FFFFFF;
    padding: 20px 0 0 5px;
    position: relative;
    overflow: hidden;
}

.aui-travel-item {
    position: relative;
    float: left;
    width: 45.333333%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 2% 4% 2%;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 -1px 8px rgba(0,0,0,0.3);
}

.aui-travel-item-img {
    position: relative;
}

.aui-travel-item-img span {
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: #fff;
    font-size: 0.9rem;
}

.aui-travel-item-img img {
    width: 100%;
    display: block;
    border: none;
    border-radius: 4px 4px 0 0;
}

.aui-travel-item p {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0 10px;
    margin: 10px 0;
}

.aui-travel-cell {
	height: 34px;
    padding:  10px;
	width: 100%;
    float: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #000000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.aui-travel-cell-hd {
    margin-right: .3em;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
}

.aui-travel-cell-hd img {
    width: 60%;
	height:60%;
    max-height: 100%;
    vertical-align: top;
    border: 1px solid #00bcd4;
    border-radius: 50%;
	margin-left: 3px;
	margin-top: 6px;
}

.aui-travel-cell-bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    text-align: left;
}

.aui-travel-cell-bd h4 {
    font-weight: 400;
    font-size: 0.8rem;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
    padding-bottom: 4px;
}

.aui-travel-cell-bd p {
    color: #808080;
    font-size: 0.7rem;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding: 0;
    margin: 0;
}

.aui-travel-cell-fr {
    float: right;
    text-align: right;
    color: #999;
}

.aui-travel-cell-fr-img {
    width: 14px;
    height: 14px;
    margin-bottom: 4px;
}

.aui-travel-cell-fr-img img {
    width: 50%;
    max-height: 50%;
    vertical-align: top;
}

.aui-tabBar {
    background: none;
    width: 100%;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0;
}

.aui-tabBar-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    color: #979797;
}

.aui-tabBar-item img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 1px 8px rgba(0,0,0,0.8);
}


